
@use 'reset'
@use 'stories'
@use 'story'
@use 'settings'

:root
	color-scheme: dark light

body
	font-family: sans-serif
	display: flex
	align-items: stretch
	min-height: 100vh
	transition: background-color 0.6s ease, color 1s ease

a
	text-decoration: none
	&:hover
		text-decoration: underline

#__next
	flex: 1
	display: flex
	flex-direction: column
	height: 100vh


// Header

header
	display: flex
	margin: 0
	padding: .5em 1em
	align-items: baseline

#logo
	margin-right: 1em

nav
	display: flex
	margin-right: auto

.navLink
	margin-right: 1em
	&.selected
		background: gold

#dbConnected
	margin-right: 1em


// Stories

#MainStories
	flex: 1
	display: flex
	min-height: 0
	