
#Stories
	list-style-type: none
	margin: 1em 0
	padding: 0
	display: flex
	flex-direction: column

.story
	margin-bottom: 1em
	display: grid
	grid-template-columns: 3em 4em 1fr
	grid-template-rows: auto auto

.sScore
	// background: gold
	grid-area: 1/1/3/2

.sComments
	// background: olive
	grid-area: 1/2/3/3

.sLink
	// background: khaki
	grid-area: 1/3/2/4
	justify-self: start

.sUrl
	margin-left: 1em

.sSub
	grid-area: 2/3/3/4
	margin: 0


// .sDate
	// background: silver
	// margin-right: 1em

// .sBy
	// background: coral