
#StoriesWrap
	background: coral
	display: flex

#Stories
	list-style-type: none
	margin: 1em 0
	padding: 0
	display: flex
	flex-direction: column
	background: #eee
	flex: 1

.story
	margin-bottom: 1em
	display: grid
	grid-template-columns: 3em 4em 1fr
	grid-template-rows: auto auto

.sNew
	background: gold

.sScore
	// background: gold
	grid-area: 1/1/3/2

.sComments
	// background: olive
	grid-area: 1/2/3/3

.sLink
	// background: khaki
	grid-area: 1/3/2/4
	justify-self: start

.sUrl
	margin-left: 1em

.sSub
	grid-area: 2/3/3/4
	margin: 0

.s-job
	.sLink
		grid-area: 1/1/2/4
	.sSub
		grid-area: 2/1/3/4


