
#MainStories
	flex: 1
	display: grid
	min-height: 0
	grid-template-columns: 1fr
	&.storyOpened
		grid-template-columns: 1fr 1fr

@media (max-width: 1023px)
	#MainStories
		grid-template-columns: 1fr !important
	#StoryPage
		grid-area: 1 / 1 / 2 / 2
		z-index: 10


#Stories
	grid-area: 1 / 1 / 2 / 2
	overflow-y: auto
	padding: 1rem
	padding-bottom: 2em
	display: flex
	flex-direction: column
	--numColWidth: 2.5em
	--colGap: 1em

.orderLatest
	margin-bottom: 1em
	align-self: flex-start
	display: flex
	font-size: small
	align-items: center
	input
		margin-right: .5em

// #StoriesList
	// margin-bottom: 1em

// @keyframes updated
// 	0%
// 		transform: translateY(-10px)
// 	100%
// 		transform: translateY(0px)

.story
	--commentsBgr: var(--bgrAltColor)
	--commentsText: var(--textColor)
	// animation: 500ms updated
	margin-bottom: 1em
	display: grid
	grid-template-columns: repeat(2, var(--numColWidth)) 1fr
	column-gap: var(--colGap)
	&.noScore,
	&.noComments
		grid-template-columns: var(--numColWidth) 1fr
	&.noScore.noComments,
	&.s-job
		grid-template-columns: 1fr
	&.s-job
		margin-left: calc(var(--numColWidth) * 2 + var(--colGap) * 2)
		&.noScore,
		&.noComments
			margin-left: calc(var(--numColWidth) + var(--colGap))
		&.noScore.noComments
			margin-left: 0
		
.sNew
	.sLink
		color: var(--newColor)
		&:visited
			color: var(--visitedColor)


.sOpen
	.sLink
		color: var(--activeColor)

.sScore
	grid-row: 1 / span 2
	justify-self: end
	padding: .2em
	font-size: small

.sComments
	grid-row: 1 / span 2
	border: none
	padding: .2em .5em .3em .5em
	align-self: start
	justify-self: end
	font-size: small
	border-radius: .25em
	position: relative
	color: var(--commentsText) !important
	background: var(--commentsBgr)
	&.scOpened
		--commentsBgr: var(--buttonColor)
	&.scHasNew
		--commentsBgr: var(--newColor)
		--commentsText: var(--bgrAltColor)
	&:hover,
	&:active
		background: var(--linkColor)
		color: var(--bgrColor) !important
		text-decoration: none
		border: none
		&:after
			border-top-color: var(--linkColor)
	&:after
		--size: .4em
		content: ''
		position: absolute
		bottom: calc(var(--size) * -1)
		right: .5em
		width: 0
		height: 0
		border: var(--size) solid transparent
		border-top-color: var(--commentsBgr)
		border-bottom: 0
		border-right: 0

.sLink
	justify-self: start
	font-size: large
	line-height: 1
	small
		color: inherit

.sTitle
	margin-right: .25em
// .sUrl
	// margin-left: 1em

.sSub
	grid-row: 2 / span 1
	margin: 0
	font-size: small


#moreStoriesButton
	padding: 1em

#storiesEnd
	text-align: center
	font-size: smaller
	font-style: italic