
#Story
	flex: 1
	overflow-y: auto
	padding: 1rem
	border-left: .25em solid var(--bgrAltColor)
	background: var(--bgrColor)


#storyCloseButton
	float: right
	margin: 0 0 .5em 1em
	position: sticky
	top: 0em

.storyLink
	display: block
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	margin: .5em 0

.storyInfo
	margin: .5em 0

.storyBy
	font-style: italic

.storyText
	margin: .5em 0

.userText
	display: block
	max-width: 36em
	overflow-wrap: anywhere
	> p // NOTE: the first paragraph is not wrapped in <p>
		margin: .5em 0
	a
		overflow-wrap: anywhere
	pre
		white-space: pre-wrap
		margin: .5em 0
	code
		font-family: monospace
	p.cQuot
		opacity: .75
		font-style: italic
		border-left: 1px dotted currentColor
		padding-left: .5em
		margin-left: .1em


// Poll

#storyPoll
	list-style-type: disc
	padding-left: 2em
	margin: 1em 0

.pollopt
	margin: .5em 0

.polloptScore
	font-size: small
	font-style: italic
	color: var(--buttonTextColor)


// Comments

#storyCommentCount
	font-style: italic
	
#StoryComments
	margin: 1em 0

.comment
	border-radius: .5em
	border-top-left-radius: 0
	margin-top: 1em
	margin-bottom: 1em
	background: linear-gradient(var(--bgrAltColor), var(--bgrColor) 3em)
	.comment
		margin-left: 1em
	+ .comment
		border-top-left-radius: .5em !important

.cDeleted,
.cLoading
	padding: .5em 1em

.cHead
	display: flex
	align-items: center
	padding: .5em 1em 0 1em

.cBy,
.cUrl
	color: var(--textColor)

.cBy
	font-style: italic
	margin-right: 1em
	font-size: small

.cUrl
	font-size: small

.cCollapse
	padding: 0
	background: none
	margin-left: auto
	padding: 0 .25em


.comment .userText
	margin: .5em 0
	padding: 0 .5em 0 1em

