

:root
	--bgrColor: #f6f6ef
	--bgrAltColor: #E3E3DD
	--textColor: #424242
	--linkColor: #1976D2
	--visitedColor: #5E35B1
	--newColor: #0097A7
	--activeColor: #d33682
	--buttonColor: #CACAC5
	--buttonTextColor: #424242
	@media (prefers-color-scheme: dark)
		--bgrColor: #212121
		--bgrAltColor: #383838
		--buttonColor: #616161
		--textColor: #9E9E9E
		--subTextColor: #757575
		--linkColor: #EEEEEE
		--visitedColor: #757575
		--newColor: #FFCC80
		--activeColor: #D81B60
		--buttonTextColor: #CFD8DC


// Default

body[data-theme='default-light']
	--bgrColor: #f6f6ef
	--bgrAltColor: #E3E3DD
	--textColor: #424242
	--subTextColor: #757575
	--linkColor: #304FFE
	--visitedColor: #673AB7
	--newColor: #00897B
	--activeColor: #d33682
	--buttonColor: #CACAC5
	--buttonTextColor: #424242


body[data-theme='default-dark']
	--bgrColor: #212121
	--bgrAltColor: #383838
	--buttonColor: #616161
	--textColor: #9E9E9E
	--subTextColor: #757575
	--linkColor: #EEEEEE
	--visitedColor: #757575
	--newColor: #FFCC80
	--activeColor: #D81B60
	--buttonTextColor: #CFD8DC


// Solarized

// body[data-theme='solarized-light']
// 	--bgrColor: #fdf6e3
// 	--bgrAltColor: #eee8d5
// 	--textColor: #073642
// 	--linkColor: #268bd2
// 	--visitedColor: #6c71c4
// 	--newColor: #2aa198
// 	--activeColor: #d33682
// 	--buttonColor: #CCC7B7
// 	--buttonTextColor: #073642

// body[data-theme='solarized-dark']
// 	--bgrColor: #002b36 
// 	--bgrAltColor: #073642
// 	--textColor: #93a1a1
// 	--linkColor: #268bd2
// 	--visitedColor: #6c71c4
// 	--newColor: #2aa198
// 	--activeColor: #d33682
// 	--buttonColor: #094857
// 	--buttonTextColor: #eee8d5


