

:root
	--bgrColor: #fdf6e3
	--bgrAltColor: #eee8d5
	--textColor: #073642
	--linkColor: #268bd2
	--visitedColor: #6c71c4
	--newColor: #2aa198
	--activeColor: #d33682
	--buttonColor: #CCC7B7
	--buttonTextColor: #073642
	@media (prefers-color-scheme: dark)
		--bgrColor: #1e1e1e
		--bgrAltColor: #252526
		--textColor: #999
		--linkColor: #569AC7
		--visitedColor: #6774B6
		--newColor: #2aa198
		--activeColor: #B13E76
		--buttonColor: #3d3d3d
		--buttonTextColor: #b7b7b7


// Default

body[data-theme='default-light']
	--bgrColor: #fdf6e3
	--bgrAltColor: #eee8d5
	--textColor: #073642
	--linkColor: #268bd2
	--visitedColor: #6c71c4
	--newColor: #2aa198
	--activeColor: #d33682
	--buttonColor: #CCC7B7
	--buttonTextColor: #073642


body[data-theme='default-dark']
	--bgrColor: #1e1e1e
	--bgrAltColor: #252526
	--textColor: #999
	--linkColor: #569AC7
	--visitedColor: #6774B6
	--newColor: #2aa198
	--activeColor: #B13E76
	--buttonColor: #3d3d3d
	--buttonTextColor: #b7b7b7


// Solarized

// body[data-theme='solarized-light']
// 	--bgrColor: #fdf6e3
// 	--bgrAltColor: #eee8d5
// 	--textColor: #073642
// 	--linkColor: #268bd2
// 	--visitedColor: #6c71c4
// 	--newColor: #2aa198
// 	--activeColor: #d33682
// 	--buttonColor: #CCC7B7
// 	--buttonTextColor: #073642

// body[data-theme='solarized-dark']
// 	--bgrColor: #002b36 
// 	--bgrAltColor: #073642
// 	--textColor: #93a1a1
// 	--linkColor: #268bd2
// 	--visitedColor: #6c71c4
// 	--newColor: #2aa198
// 	--activeColor: #d33682
// 	--buttonColor: #094857
// 	--buttonTextColor: #eee8d5


